<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<title>Insert title here</title>
</head>
<body>
 <header th:insert="general.html :: header"> </header>
<div class="container">
		<h2>Edit your details here</h2>
		<div th:insert="general.html :: formdata"> </div>
<!-- <form action="#" th:action="@{/updateData/{id}(id=${key.id})}" th:object="${key}" method="post"  class="form-inline">
<input type="hidden" name="id" th:value="${key.id}"> 
	<label  class="mb-2 mr-sm-2">Name:</label><input class="form-control mb-2 mr-sm-2" type="text" name="name" th:value="${key.name}">
	<br>
	<label  class="mb-2 mr-sm-2">Number:</label><input class="form-control mb-2 mr-sm-2" type="text" name="number" th:value="${key.number}">
	<br>
	<label  class="mb-2 mr-sm-2">Email:</label><input class="form-control mb-2 mr-sm-2" type="email" name="email" th:value="${key.email}">
	<br>
	<input type="submit" value="Submit">
	
	
	</form> -->
	</div>
	<div th:replace="general.html :: footer"></div>
</body>
</html>