<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<title>Insert title here</title>
</head>
<body>
 <header th:insert="general.html :: header"> </header>
 <div align="center">
<table>
<tr>
<td><a th:href="${'/index'}"><button type="button" class="btn btn-primary text-white">Insert</button></a></td>
<td><a th:href="${'/showList'}"><button type="button" class="btn btn-info text-white">Table</button></a></td></tr></table>
</div>
<div th:replace="general.html :: footer"></div>
</body>
</html>